.App { 
  display: flex;
  text-align: left;
  /* height:800px ; */
  width: 1000px;
}





.box5 {
  text-align: center;
  display: flex;
  margin: auto;
  height: 600;
  width: 900px;
  color: purple;
  background-color: #60d36a ;
  padding: 20px 10px ;
  margin: 10px 10px;
  border-width:10px;
  border-color: rgb(29, 86, 36);
  border-style: solid;
  border-radius: 50px;
  }

